
*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 5em;
    text-align: center;
}

h1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    margin-top: 1em;
}

h2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.btn{
    height: 10rem;
    width: 10rem;
    border: 3px solid black;
    border-radius: 20%;
    margin: 4em;
}

.green{
    background-color: rgb(122, 197, 26);
    /* background-color: rgb(86, 180, 16); */
    /* background-color: rgb(150, 242, 57); */
}

.purple{
    background-color: rgb(86, 56, 132);
    /* background-color: rgb(59, 78, 197); */
}

.yellow{
    background-color: rgb(222, 231, 27);
}

.red{
    background-color: rgb(199, 26, 71);
}

.gameFlash{
    background-color: white;
}

.userFlash{
    background-color: rgb(15, 168, 111);
}



#startButton{
    margin-top: 2em;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    /* margin-top: 0.5rem; */
    height: 2rem;
    width: fit-content;
}

#startButton:hover{
    cursor: pointer;
}